<!-- for /match/<name> -->

<!DOCTYPE html>

<html lang="en">

<head>
    <title>Matching...</title>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body>
    <header>
        <p>Tic-Tac-Toe Championships</p>
    </header>

    <br>
    <br>
    <p>Finding match...</p>
    <p>Hold your horses...</p>

    <div id="data">
        <p>
            Name: {{profile.name}} <br>
            Rank: {{profile.rank}} <br>
            Wins: {{profile.wins}} <br>
            Losses: {{profile.losses}} <br>
        </p>
    </div>

    <script src="/static/js/findingMatch.js"></script>
</body>

